<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>realTimeProducts</title>
</head>
<body>
    <ul>
    <li>Americano</li>
    <li>Arabe</li>
    <li>Capuchino</li>
    <li>Chocolate</li>
    <li>Cremoso</li>
    <li>Cubano</li>
    <li>Hawaiano</li>
    <li>Helado</li>
    <li>Irlandes</li>
    <li>Latte</li>
    <li>Leche</li>
    <li>Macchiato</li>
    <li>mocaccino</li>
    <li>Tradicional</li>
  </ul>
</body>
</html>